{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div style="text-align: center;" class="h-100 p-5 text-white bg-dark rounded-3 container">
    <h2>About this Site</h2>
    <br>
    <p>This website provides guided pronunciation practice. As learners work to describe pictures, they can track their pronunciation accuracy in the provided transcript. When learners notice errors in the transcript, they can provide the intended word to get a phonetic analysis of the differences and hop over to relevant lessons for more practice on troublesome sounds of English.</p>
    <br>
    <p>This site was built by Claire Fettig and Simon Markus, computer science majors at Southern Illinois University as part of their senior project. </p>
    <br>
    <p>The concept for this site, and much of the content, was developed by Dr. Shannon McCrocklin, an Assistant Professor of Applied Linguistics/TESOL at Southern Illinois University. Her research focuses on the use of automatic speech recognition to support second language pronunciation learning. </p>
    <br>
    <p>Additional Content Contributors: Rachel Stuckel, Sarah Seymour, &amp; Eva Messemer</p>
    
</div>
{% endblock %}