{% extends "base.html" %}

{% block content %}

<br><br><br><br>
<div class="container">
    <h1 style="color: white;">Practice Room User Manual</h1>
    <br>
    <div class="row">
        <div class="col">
            <figure class="figure">
                <img style="width: 406px; height: 629px;" src="{{ url_for('static', filename='photos/newphoto.png') }}"
                    alt="mictoggle">
                <figcaption class="figure-caption">User can render new picture before deciding to speak to mic</figcaption>
            </figure>
        </div>
        <div class="col">
            <figure class="figure">
                <img style="width: 406px; height: 430px;"
                    src="{{ url_for('static', filename='photos/mictoggle2.png') }}" alt="mictoggle">
                <figcaption class="figure-caption">User can toggle microphone to speak about picture</figcaption>
            </figure>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <figure class="figure">
                <img style="width: 406px; height: 455px;" src="{{ url_for('static', filename='photos/speakmic.png') }}">
                <figcaption class="figure-caption">As user is speaking about the photo prompt, their input is displayed</figcaption>
            </figure>
        </div>
        <div class="col">
            <figure class="figure">
                <img style="width: 406px; height: 630px;"
                    src="{{ url_for('static', filename='photos/highlight.png') }}">
                <figcaption class="figure-caption">Once user is done speaking and toggles their mic off, they may highlight and right click on a word they pronounced incorrectly</figcaption>
            </figure>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <figure class="figure">
                <img style="width: 406px; height: 630px;" src="{{ url_for('static', filename='photos/newword.png') }}">
                <figcaption class="figure-caption">User can replace highlighted word with word they meant to say. They can then select right arrow to proceed to more pronounciation practice</figcaption>
            </figure>
        </div>
        <div class="col">
            <figure class="figure">
                <img style="width: 406px; height: 470px;" src="{{ url_for('static', filename='photos/submit.png') }}">
                <figcaption class="figure-caption">In another case, if the user is happy with their input and there are no mistakes, then they may submit without correcting their input.</figcaption>
            </figure>
        </div>
    </div>
</div>
<br><br><br><br>
{% endblock %}