{% extends "base.html" %}
{% block content %} 
    <!-- <img src="/static/images/img.jpg" width="50%"> -->
    <img src="https://picsum.photos/300/300">

    <button type="button" id="mic-toggle" onclick="start_recording()">Record</button>
    <form name="save-transcript" onsubmit="get_transcript()" method="post">
        <input type="text" id="transcript" name="transcript" value="" readonly style="display: none;">
        <input  type="submit" value="Save">
    </form>
    
    <div id="text-display">
        <span id="final-text"></span>
        <span id="interim-text"></span>
    </div>

    <div id="context-menu" style="display: none"> 
    <ul> 
        <form name="compare-words" method="post">
            <li>I see: <input type="text" id="user-selection" name="actual_word" value="" readonly></li>
            <li>I meant: <input type="text" name="user_word"></li> 
            <li><button type="submit" value="practice">Practice</button></li>
        </form>
    </ul> 
    </div> 

    <script src="{{ url_for('static', filename='js/speech_to_text.js') }}"></script>
    <!-- window.location.href='{{ url_for( 'main.save_transcript') }}'; -->

{% endblock %}