{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br><br><br>
    <p style="color: white;">These are the sounds we misheard. Which would you like to practice?</p>
    <p style="color: white;">Hovering over a sound will play it.</p>
    <ul class="list-group">
        {% for sound in sounds %}
        <li class="list-group-item" style="text-align: center; width: 50%;">
            <audio id={{ sound[1].id }} src="{{ url_for('static', filename= 'admin_uploads/' + sound[2] + '/' + sound[1].audio) }}" preload="auto"></audio>
            <a href="{{ url_for('main.practice_sound', sound=sound[0]) }}"
                onmouseenter="document.getElementById({{ sound[1].id }}).play()">{{ sound[0] }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<style>
    li {
        padding: 0px;
    }

    li a,
    audio {
        margin: 0px;
        display: block;
        width: 100%;
        height: 100%;
    }
</style>

{% endblock %}